# Git & VCS
.git
.gitignore
.gitattributes

# Node
node_modules
npm-debug.log*
yarn.lock

# Composer vendor (built inside image)
vendor
composer.phar

# Laravel caches & logs
storage/*.key
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache/*.php

# Env & IDE
.env
.env.*
.phpunit.result.cache
.DS_Store
.idea
*.iml

# Tests & coverage
tests
coverage

# Build artifacts
public/hot
public/storage
public/mix-manifest.json
public/js/*.map
public/css/*.map
